{{#each Item as |item| }}
<div class="row col-sm-6">
  <div class="col-sm-4 ml-1">
    <h3>{{item.name}}</h3>
  </div>
  <div class="col-sm-2 ml-1 ">
    <h3>{{item.price}}</h3>
  </div>
</div>
{{/each}}

