<section class="container h-100">
    <div class="row mb-4" style="height: 200px;">
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
         <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
    </div>
    
    <div class="row" style="height: 200px;">
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
         <div class="col border border-secondary mr-2">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
        <div class="col border border-secondary">
            <img src="/assets/jordan.jpeg" class="d-block mt-4 mx-auto" style="height: 120px;" alt="" />
            <p class="ml-1 mb-0 fs-5 text-secondary">Product Description</p>
            <p class="ml-1 fs-6 fw-bold">Login To See Price</p>
        </div>
    </div>
</section>