body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    height: 15vh;
}

#navbarSection {
    margin-left: 2em;
}
nav a {
    margin-right: 1em;
}

main {
    height: 75vh;
}

#productSearchSection {
    margin-right: 2em;
}

#productsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 2em;
}

.product {
    height: 200px;
    width: 200px;
    border: solid black 1px;
    margin: 0 auto 1em auto;
}

.product img {
    height: 120px;
    width: auto;
    margin: 10px 10px 0 10px;
}

.productDescription {
    margin-left: 10px;
    margin-bottom: 0;
    color: grey;
}

.productPrice {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

footer {
    height: 20vh;
    background-color: rgb(25, 25, 25);
}