*{
    font-family: 'Poppins', 'san-serif';
}

#navbar {
    background-color: #fdb927;
}

#navbar a {
    color: #552583;
}

#navbar a:hover {
    color: #8a3fd0;
}

#footer {
    background-color: #552583;
}

#footer svg {
    color: white;
}

#footer svg:hover {
    cursor: pointer;
    color: #fdb927;
}